body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px; 
    box-sizing: border-box; 
}

h1 {
    text-align: center;
}

.buttons-container {
    text-align: center;
    margin-bottom: 20px;
}

.rss-btn {
    display: block; /* Make buttons appear vertically */
    padding: 10px 20px;
    margin: 0 auto 10px; /* Center buttons horizontally and provide spacing */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rss-btn:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

.article {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    overflow: hidden; 
}

.article-image {
    max-width: 40%; 
    height: auto; 
    margin-bottom: -30px; 
    border-bottom: 1px solid #ddd; 
}

.article-content {
    flex-grow: 1;
    padding: 15px; 
}

a {
    text-decoration: none;
    color: #007bff;
    display: block; 
}

a:hover {
    text-decoration: underline;
}